<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spam Detection App</title>
  </head>
  <body>
    <h1>Spam Detection App</h1>
    <form action="/predict" method="post">
      <label for="message">Enter a message:</label><br /><br />
      <textarea
        id="message"
        name="message"
        rows="4"
        cols="50"
        required
      ></textarea
      ><br /><br />
      <button type="submit">Predict</button>
    </form>
    {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
    {% endif %}
  </body>
</html>
